
.nav-items{
  list-style-type: none;
  display: flex;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-left{
  display: flex;
  align-items: center;
}
.header-left >img{
  justify-self: start;
  width: 40px;
  margin: 10px;
  margin-left: 25px;
  margin-right: 5px;
}

.header-nav > button{
  margin: 40px;
  width: 70px;
  height: 40px;
}

.header-left >h3{
  margin: 10px;
  color: cyan;
  font-size: 25px;
}
.nav-items > li{
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: green;
}
footer{
  padding: 10px;
  margin: 3px;
  text-align: center;
}

.facts > h1{
  font-size: 40px;
}

.facts>ul>li{
  font-size: 20px;
  margin: 3px;
}

body{
  padding: 10px;
}

.dark{
  background-color: #333;
  color: white;
  height: 500px;
  width: 600px;
}
.dark > header{
  background-color: #000;
}
.dark > .facts{
  margin: 3%;
  color: wheat;
}

.dark > .facts > h1{
  color: white;
}

.dark  .header-nav > button{ 
  color: white;
  background-color: black;
  border: solid gray;
}

.dark .header-nav > button:active{
  color: black;
  background-color: white;
}

.light{
  background-color: wheat;
  color: black;
  height: 500px;
  width: 600px;
}
.light > header{
  background-color: white;
  box-shadow: 0px 5px 2px -2px;
}

.light > .facts{
  margin: 3%;
  color: black;
}

.light > .facts > h1{
  color: black;
}

.light  .header-nav > button{ 
  color: black;
  background-color: white;
  border: solid gray;
}

.light .header-nav > button:active{
  color: white;
  background-color: black;
}

.toggler{
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 63px;
  height: 36px;
  background-color: white;
  border-radius: 24px;
}

.toggler > input{
  opacity: 0;
  height: 0;
  width: 0;
}

.slider{
  position: absolute;
  transition: 
    transform .4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before{
  position: absolute;
  left: 4px;
  top: 4px;
  content: "";
  height: 27px;
  width: 27px;
  border-radius: 27px;
  background-color: black;
}

input:checked + .slider:before {
  background-color: white;
  left: 4px;
  top: 4px;
  transform: translateX(26px);
}

input:checked + .slider {
  border-radius: 24px;
  background-color: black;
  color: white;
}